<button *ngIf="!!escherData" (click)="switchColorScheme($event)">{{this.nextColorText}}</button>

<div #escherHolder class="escher-holder col-md-6 col-sm-6"></div>

<div *ngIf="analyticsShown" class="col-md-6 col-sm-6">
    <div>

        <div class="from-to-holder" *ngIf="!!fromNodeName">
            From {{fromNodeName}} to {{toNodeName}}
        </div>

        <div *ngIf="fromNodeNames?.length > 0">
            Possible Paths:
            <div *ngFor="let fromNode of fromNodeNames">
                <div *ngFor="let toNode of toNodeNames">
                    {{fromNode}} -> {{toNode}}
                </div>
            </div>
        </div>

    </div>
    <h1 class="analytics-heading">Data Analysis</h1>
    <app-escher-data [analyticsData]="analyticsData" [geneDuplicationData]="geneDuplicationData"></app-escher-data>
</div>