<div class="col-md-6">

  <div class="analytics-sub-heading">Node count per type</div>

  <div *ngFor="let key of dictionaryKeys(analyticsData)">
    <app-node-type [name]="key" [nodeData]="analyticsData[key]"></app-node-type>
  </div>
</div>

<div class="col-md-6">

  <div class="analytics-sub-heading">Genes part of multiple reactions</div>

  <div *ngFor="let geneKey of dictionaryKeys(geneDuplicationData)">
    <app-gene-duplication [geneDuplicationData]="geneDuplicationData[geneKey]"></app-gene-duplication>
  </div>
</div>