/* You can add global styles to this file, and also import other style files */
body, height {
    width: 100%;
    height: 100%;
}

.info-expander {
    cursor: pointer;
}

.analytics-sub-heading {
    font-weight: 500;
    font-size: 1.4em;
}